@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: url(img/sushi-min.jpg) ;
}
.container img{
    align-items: auto;
    justify-content: center;
    height: 70px;
    top: 50%;
}

.container{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.2);
    
    /* color:#fff; */
    border-radius: 5px 40px;
    padding: 30px 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    transition:cubic-bezier(1, 0, 0, 1);
    transition: 1s;
    overflow: hidden;
}
.container h1{
    font-size: 36px;
    text-align: center;
    color: #fff;

}
.container .info{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.container .info-p{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.info input{
    width: 100%;
    height: 100%;
background:transparent;
border: none;
outline: none;
border: 1px solid rgba(255,255,255,.2);
border-radius: 40px;
font-size: 16px;
color: #fff;
padding: 20px 45px 20px 20px;
}
.info-p input{
    width: 100%;
    height: 100%;
background:transparent;
outline: none;
border: 1px solid rgba(255,255,255,.2);
border-radius: 40px;
font-size: 16px;
color: #fff;
padding: 20px 45px 20px 20px;
}
.info-p input::placeholder{
color:white;
}
.info input::placeholder{
    color:white;
  
}
.info i{
    position:absolute;
    right: 55px;
    top: 30.25%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    accent-color: #fff;
}
.info-p i{
    position:absolute;
    right: 55px;
    top: 47.5%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}
.container .rem-me{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 2px 15px;
    color: #fff;
}
.rem-me label input{
    accent-color: #e67e22 ;
    margin-right: 3px;
    color: #fff;
    cursor: pointer;
}
.rem-me a{
color:#fff;
text-decoration: none;
}
.rem-me a:hover{
    text-decoration:underline;
    
}
.container .btn{
    width: 100%;
    height: 45px;
    margin-top: 34px;
border-radius: 60px;
border: none;
background:white;
outline: none;
box-shadow: 0 0 2px rgba(255,255,255,.2);
cursor: pointer;
font-size: 16px;
color: #333;
font-weight: 600;
}
.container .btn:hover{
    background: #e67e22;
    color: #333;
}
.container .reg-link {
    font-size: 15.5px;
    text-align: center;
   margin: 20px 0 15px;
}
.reg-link p {
    color: #fff;
    text-decoration: none;
}
.reg-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.reg-link a:hover{
    text-decoration: none;
color:#e67e22 ;
}

  
